<<<<<<< HEAD
ul {
	display: flex !important;
	flex-flow: row wrap !important;
}

ul li {
	margin: 1em 2em !important;
	list-style: none !important;	
}

ul li a {
	text-decoration: none !important;

=======
/*NAVIGAtiON*/
nav ul {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

nav ul li {
	margin: 0;
}

nav ul a {
	position: relative;
}

nav ul a::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 2px;
	background-color: black;
	transition: width 0.4s;
}

nav ul a:hover::after {
	width: 100%;
>>>>>>> 4ad9ab66f2218a774ff1cc12601da779b9e6b636
}