{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}

    <div class="blogpost-container">
        <h1 class="blogpost-title">
            {{ page.title }}
            </br>
            <span class="meta blogpost-date">{{ page.date }}</span>
        </h1>

        <div class="intro">{{ page.intro }}</div>

        {{ page.body|richtext }}

        {% for item in page.gallery_images.all %}
            <div>
                {% image item.image fill-320x240 %}
                <p>{{ item.caption }}</p>
            </div>
        {% endfor %}

        <p class="return-to-blog"><a href="{{ page.get_parent.url }}">Return to blog</a></p>
    </div>

{% endblock %}